<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealGoal - Soccer Results App</title>
<script src='https://www.websense.online/cdn/websense.js' defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            flex-direction: column;
        }

        .container {
            max-width: 800px;
            padding: 20px;
            text-align: center;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #0369a1; /* Sky blue color */
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 20px;
            color: #555;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 20px;
            text-align: center;
        }

        ul li {
            margin-bottom: 10px;
        }

        .links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
        }

        .links a {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            text-decoration: none;
            color: #333;
        }

        .links a:hover {
            color: #007bff;
        }

        .links a i {
            margin-right: 10px;
        }

        .app-icon {
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
        }

        .card {
            background-color: #f9f9f9;
            border-radius: 8px;
            padding: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 1.5rem;
            margin-bottom: 10px;
            color: #333;
        }

        .code {
            font-family: 'Courier New', Courier, monospace;
            background-color: #f0f0f0;
            padding: 4px 8px;
            border-radius: 4px;
        }

        .disclaimer {
            font-style: italic;
            color: #777;
            margin-bottom: 20px;
            font-size: 1rem;
        }

        .disclaimer span {
            text-decoration: underline;
        }

        footer {
            margin-top: auto;
            text-align: center;
            background-color: #0369a1; /* Sky blue color */
            color: #fff;
            padding: 10px 0;
            width: 100%;
        }

        footer a {
            color: #fff;
            text-decoration: none;
        }

        footer a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>

    <div class="container">
        <img src="https://github.com/donadev/realgoal-android/blob/c28963bbe639496a4b66e6a713a3318b732b9d8e/RealGoal/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png?raw=true"
            alt="App Icon" class="app-icon">
        <h1>Welcome to RealGoal</h1>
        <p>RealGoal is a simple Android app developed as a learning project during 5th grade of high school. It allows
            users to view real-time soccer results.</p>
        <p>The app is written in Java and uses a backend powered by Sails.js. It scrapes data from two API endpoints:</p>
        <ul>
            <li><span class="code">/matches/list</span> - Retrieves next matches. <a href="/matches/list"
                    target="_blank">Try it here.</a></li>
            <li><span class="code">/matches/detail?id=x</span> - Retrieves details for a specific match. <a
                    href="/matches/detail?id=A7ZInGD0" target="_blank">Try it here.</a></li>
        </ul>
        <p class="disclaimer">RealGoal is an unmaintained project developed 7 years ago (2017), intended as a learning
            exercise for understanding app development, API integration, and web scraping. <span>Disclaimer</span></p>
    </div>

    <div class="container">
        <div class="card-title">Get the code</div>
        <div class="links">
            <a href="https://github.com/donadev/realgoal-bk" target="_blank">
                <i class="fab fa-github"></i>
                <span>Backend Repository</span>
            </a>
            <a href="https://github.com/donadev/realgoal-android" target="_blank">
                <i class="fab fa-github"></i>
                <span>Android Repository</span>
            </a>
        </div>
    </div>

    <footer>
        Developed with <i class="fas fa-heart"></i> by <a href="https://luigidonadel.com" target="_blank">Luigi
            Donadel</a>
    </footer>

</body>

</html>
